$link-colour:#03EC51;
$link-colour-w:#FFF;
$link-colour-g:#ACACAC;

.main-nav {
  margin: 0 0 0 25px;
  padding: 0;
  &__link {
    padding: 0;
    margin: 0;
    a {
      font-family: $font-fam-hed;
      display: flex;
      flex-flow: column nowrap;
      color: $link-colour;
      font-size: 2em;
      text-decoration: none;
      padding: 10px 0 10px 25px;
      border-left:3px solid transparent;
      text-transform: uppercase;

      span {
        font-family: $font-fam-small;
        color: $link-colour-g;
        font-size: 0.5em;
      }

      &:hover {
        border-left:3px solid $link-colour;

        span {
          color: $link-colour-w;
        }
      }
    }
  }
}
